/*------Login Page-------*/

.loginPage {
  width: 100%;
  height: 100%;
}

#loginTemplateContainer {
  margin-top: 20%;
  margin-left: 30%;
  border: 1px solid red;
}

.login-close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid red;
  right: 10px;
  top: 20px;
}

.separator-line {
  margin-left: 40%;
}

.social-media-icon-container {
  width: 340px;
  height: 140px;
  margin: auto;
  left: 0;
  right: 0;
  border: 1px solid green;
}

.signin-logo {
  width: 130px;
  height: 30px;
  position: absolute;
  border: 1px solid red;
  left: 10px;
  top: 20px;
}

/*---------- Signup page --------*/

.signup-page-container {
  width: 100%;
  height: 100%;
}

.signinTemplateContainer {
  margin-top: 20%;
  margin-left: 30% !important;
  border: 1px solid red;
}

/*-------------Image Carousel -----*/
.imageCarouselConatainer {
  width: 30%;
  position: absolute;
  margin-top: 14%;
}

/*-----------------Landing Page-------------*/

.landingPage {
  width: 100%;
}

.love-symbol {
  width: 10px;
  height: 10px;
  border: 1px solid greenyellow;
}

.image-container {
  width: 200px;
  height: 200px;
}

.image-container img{
  width: 200px;
  height: 80px;
}

.landing-page-social-media-icons {
  width: 100%;
  height: 150px;
  border: 2px dotted blue;
}

.landing-page-copyright-text {
  width: 100%;
  height: 150px;
  border: 2px dashed grey;
}

/*-----------IMAGE CAROUSEL-----------*/

* {box-sizing: border-box;}
/* body {font-family: Verdana, sans-serif;} */
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.carousel-btn-container {
  text-align: center;
}

.mySlides img{
  width: 100%;
}